__pycache__/
*/__pycache__/
*/*/__pycache__/
ByteMorph-Eval/gemini_pro/
ByteMorph-Eval/gemini_flash/
ByteMorph-Eval/gpt_4o_image/
ByteMorph-Eval/gt/
ByteMorph-Eval/imagen3_capability/
ByteMorph-Eval/instructmove/
ByteMorph-Eval/instructmove_xedit/
ByteMorph-Eval/instruct/
ByteMorph-Eval/ominicontrol/
ByteMorph-Eval/ominicontrol_xedit/
ByteMorph-Eval/ours/
ByteMorph-Eval/step1x_edit/
ByteMorph-Eval/anysd/
ByteMorph-Eval/magicbrush/
ByteMorph-Eval/hidream/
ByteMorph-Eval/ultraedit/
ByteMorph-Eval/seededit/
ByteMorph-Eval/utils/image_eval.py
ByteMorph-Eval/utils/rename_files.py
ByteMorph-Eval/utils/filter_v2_files.py
ByteMorph-Eval/utils/convert_omini_output.py
ByteMorph-Eval/ViT-L-14.pt
ByteMorph-Eval/ViT-B-32.pt
ByteMorph-Eval/eval_clip_score_*.sh
ByteMorph-Eval/eval_gpt_score_*.sh