__pycache__/
*/__pycache__/
*/*/__pycache__/
SeedMorph-Eval/gemini_pro/
SeedMorph-Eval/gemini_flash/
SeedMorph-Eval/gpt_4o_image/
SeedMorph-Eval/gt/
SeedMorph-Eval/imagen3_capability/
SeedMorph-Eval/instructmove/
SeedMorph-Eval/instructmove_xedit/
SeedMorph-Eval/instruct/
SeedMorph-Eval/ominicontrol/
SeedMorph-Eval/ominicontrol_xedit/
SeedMorph-Eval/ours/
SeedMorph-Eval/step1x_edit/
SeedMorph-Eval/anysd/
SeedMorph-Eval/magicbrush/
SeedMorph-Eval/hidream/
SeedMorph-Eval/ultraedit/
SeedMorph-Eval/seededit/
SeedMorph-Eval/utils/image_eval.py
SeedMorph-Eval/utils/rename_files.py
SeedMorph-Eval/utils/filter_v2_files.py
SeedMorph-Eval/utils/convert_omini_output.py
SeedMorph-Eval/ViT-L-14.pt
SeedMorph-Eval/ViT-B-32.pt
SeedMorph-Eval/eval_clip_score_*.sh
SeedMorph-Eval/eval_gpt_score_*.sh